@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
:root {
  --primary-cyan: rgb(95, 180, 162);
  --primary-dark-blue: rgb(32, 58, 76);
  --primary-dark-gray-blue: rgb(51, 50, 61);
  --bg-light-grey: rgb(250, 250, 250);
  --txtfield-light-grey: rgb(234, 234, 235);
  --error-red: rgb(244, 48, 48);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--bg-light-grey);
}

/* Typography */

h1,
h2 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  color: var(--primary-dark-gray-blue);
}

h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45;
}

h2 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36;
}

h3,
h4,
h5,
h6 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
  color: var(--primary-dark-gray-blue);
}

p {
  font-family: "Public Sans", sans-serif;
  color: var(--primary-dark-blue);
  font-size: 16px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

/* button styles */

.btn {
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-dark-blue);
  background-color: var(--bg-light-grey);
  border: 1px solid var(--primary-dark-blue);
  padding: 14px 32px;
}

.btn:hover {
  color: var(--bg-light-grey);
  background-color: var(--primary-dark-blue);
}

.btn:disabled {
  cursor: initial;
  color: var(--txtfield-light-grey);
  background-color: var(--bg-light-grey);
  border: 1px solid var(--txtfield-light-grey);
}

.hero-btn {
  cursor: pointer;
  position: relative;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--primary-dark-blue);
  color: var(--bg-light-grey);
  padding: 16px 38px 16px 85px;
  border: none;
  overflow: hidden;
}

.hero-btn span {
  position: absolute;
  padding: 15px 16px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  background-color: var(--primary-cyan);
}

.hero-btn:disabled {
  background-color: var(--txtfield-light-grey);
}

.hero-btn:hover .icon-color,
.hero-btn:disabled .icon-color {
  stroke: var(--bg-light-grey);
}

/* universal styles */

.container {
  width: 83%;
  max-width: 1110px;
  margin: 0 auto;
}

/* header */

header {
  position: relative;
  width: 83%;
  height: 88px;
  max-width: 1110px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../images/icons/hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.nav-menu.active {
  background-image: url(../images/icons/close.svg);
}

nav {
  display: none;
}

nav.active {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 224px;
  background-color: var(--primary-dark-gray-blue);
}

.nav-link {
  color: var(--bg-light-grey);
  margin: 35px 0 0;
}

.nav-link:last-of-type {
  margin: 35px 0 35px;
}

.nav-link:hover {
  color: var(--primary-cyan);
}

/* Footer */

footer {
  background-color: var(--primary-dark-gray-blue);
  color: var(--bg-light-grey);
  padding: 55px 0;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer-grid svg {
  margin: 0 auto 30px;
}

.footer-logo {
  fill: var(--bg-light-grey);
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: var(--bg-light-grey);
  margin: 0 0 30px;
}

.footer-link:hover {
  color: var(--primary-cyan);
}

.social-links {
  margin: 0 auto;
  height: 30px;
}

.social-link {
  padding: 5px;
  margin: 0 4px;
}

.social-icon {
  fill: var(--bg-light-grey);
}

.social-link:hover .social-icon {
  fill: var(--primary-cyan);
}

@media (min-width:768px) {

    .container {
      width: 90%;
      max-width: 1110px;
      margin: 0 auto;
    }

    /* Header */
      
      header {
        width: 90%;
        height: 145px;

      }

      .nav-menu {
        display: none;
      }
          
      nav {
        display: block;
      }
      
      nav.active {
        all: unset;
      }
      
      .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        background-color: transparent;
      }
      
      .nav-link {
        color: var(--primary-dark-blue);
        margin: 0 0 0 40px ;
      }
      
      .nav-link:last-of-type {
        margin: 0 0 0 40px;
      }
      
      .nav-link:hover {
        color: var(--primary-cyan);
      }

      /* Footer */

      footer {
        padding: 25px 0;
      }
      
      .footer-grid {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;
      }
      
      .footer-grid svg {
        margin: 0 5px 0 0;
      }
      
      .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .footer-link {
        margin: 0 0 0 40px;
      }
      
      
      .social-links {
        margin: 0 0 0 auto;
        height: 30px;
      }
      
      .social-link {
        padding: 0px;
        margin: 0 0 0 10px;
      }

}

@media (min-width: 1200px) {
  
}
